*.bundle.*
lib/
node_modules/
*.egg-info/
.ipynb_checkpoints
*.tsbuildinfo
*yarn.lock
*yarn-error.log
.eslintcache
**/.DS_Store
coverage/
jupyterlab-tabular-data-editor/__pycache__/
jupyterlab-tabular-data-editor/labextension/