@import '~@lumino/default-theme/style/datagrid.css';

/*DATAGRID*/

/*border of a cell*/
.lm-DataGrid-cellEditorContainer {
  border: 2px solid #2196f3;
  box-shadow: var(--jp-elevation-z1);
  /*box-shadow: var(--jp-cell-editor-box-shadow); - not noticeable*/
}

/*surrounding of the cell when double clicked*/
.lm-DataGrid-cellEditorOccluder {
  border: none;
}

/*Inside the cell when double-clicked*/
.lm-DataGrid-cellEditorWidget {
  color: var(--jp-ui-font-color0);
  background-color: var(--jp-cell-editor-active-background);
}

/*the input in the cell*/
.lm-DataGrid-cellEditorInput {
  font-size: 12px; /*var(--jp-ui-font-size1) -> makes the text look bigger when active*/
  font-family: var(--jp-ui-font-family);
}

/*something behind the canvas*/
.lm-DataGrid {
  min-width: 64px;
  min-height: 64px;
  border: 1px solid #a0a0a0;
}

/*corner of the scroll bar*/
.lm-DataGrid-scrollCorner {
  background-color: #f0f0f0;
}

/*RIGHT-CLICK MENU*/
.lm-Menu-content {
  border: none;
}

/*Shadow for moving rows & columns */
.lm-DataGrid-select-shadow {
  background-color: #616161;
  opacity: 25%;

  /*dark theme styling
  opacity: 50%;*/
}

.lm-DataGrid-select-line {
  border: none;
  background-color: #2196f3;
}

.jp-row-header {
  border: none;
}
.jp-column-header {
  border: none;
  color: var(--jp-layout-color3);
}

.jp-background {
  border: none;
  color: rgba(255, 255, 255, 0)
}

/*scrollbar*/

.lm-ScrollBar[data-orientation='vertical'] {
  min-width: 14px;
}

.lm-ScrollBar[data-orientation='horizontal'] {
  min-height: 14px;
}

.lm-ScrollBar-button {
  min-height: 12px;
  min-width: 12px;
}

.jp-ghost {
  position: absolute;
}



.jp-light-mode-ghost {
  background-color: rgba(243, 243, 243, 0.55)
}

.jp-dark-mode-ghost {
  background-color: rgba(0, 0, 0, 0.55);
}

.jp-transparent-ghost {
  background-color: rgba(0, 0, 0, 0)
}

.jp-light-mode-corner-ghost {
  background-color: rgb(243, 243, 243);
}

.jp-dark-mode-corner-ghost {
  background-color: rgb(0, 0, 0);
}