.white-background {
  background-color: white;
  color: white;
}

/* Styles for the Cell Editor (adapted from DataGrid example in Lumino repo) */
.lm-DataGrid-cellEditorOccluder {
  position: absolute;
  overflow: hidden;
}

.lm-DataGrid-cellEditorContainer {
  pointer-events: auto;
  position: absolute;
  background-color: #ffffff;
  box-sizing: border-box;
  box-shadow: 0 0 6px #006bf7;
  border: 2px solid #006bf7;
}

.lm-DataGrid-cellEditorWidget {
  width: 100%;
  height: 100%;
  outline: none;
  box-sizing: border-box;
}

.lm-DataGrid-cellEditorInput {
  background-color: #ffffff;
  border: 0;
}
