@import '~@lumino/default-theme/style/datagrid.css';

.white-background {
  background-color: white;
  color: white;
}

/*border of a cell*/
.lm-DataGrid-cellEditorContainer {
  border: 2px solid #2196f3;
  box-shadow: none;
}

/*surrounding of the cell when double clicked*/
.lm-DataGrid-cellEditorOccluder {
}

/*Inside the cell when double-clicked*/
.lm-DataGrid-cellEditorWidget {
}

/*the input in the cell*/
.lm-DataGrid-cellEditorInput {
}

/*something behind the canvas*/
.lm-DataGrid {
  min-width: 64px;
  min-height: 64px;
  border: 1px solid #a0a0a0;
}

/*corner of the scroll bar*/
.lm-DataGrid-scrollCorner {
  background-color: #f0f0f0;
}
